*{
  transition: .1s all;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.blank h1{
  color: #61dafb;
}

.hero{
  display: flex;
  width: 100%;
  background:linear-gradient(#61dafbcc,#282c34);
  height: 100vh;
}
.hero .text-box{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.hero .text-box h1{
  font-size: 5rem;
  color: #eeeeeeb0;
  text-transform: capitalize;
  font-weight: 700;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
